@using ConcertWeb.Models;
<!-- It creates a new Category object -->
@model Category

<form method="post">
    @*This is a comment*@<input asp-for="Id" hidden />
    <div class="border p-3 mt-4">
        <div class="row">
            <h2 class="">Delete Category</h2>
            <hr />
        </div>
        <div class="row mb-2 p-1">
            <label asp-for="Name" class="p-0"></label>
            <input asp-for="Name" disabled class="form-control" />
        </div>
        <div class="row mb-3 p-1">
            <label asp-for="DisplayOrder" class="p-0"></label>
            <input asp-for="DisplayOrder" disabled class="form-control" />
        </div>
        <div class="row">
            <div class="col-6 col-md-3">
                <button type="submit" class="btn btn-danger form-control">Delete</button>
            </div>
            <div class="col-6 col-md-3">
                <a asp-controller="Category" asp-action="Index" class="btn btn-outline-secondary border form-control">
                    Back to List
                </a>
            </div>
        </div>
    </div>
</form>
